<xf:title>{{ phrase('liamw_xenforolicenseverification_remove_xenforo_license_details') }}</xf:title>

<xf:form action="{{ link('account/xenforo-license/remove') }}" class="block">
    <div class="block-container">
        <div class="block-body">
            <xf:inforow>
                <div class="blockMessage blockMessage--warning"><strong>{{ phrase('warning:') }}</strong> {{
                    phrase('liamw_xenforolicenseverification_remove_license_details_warning') }}
                </div>
            </xf:inforow>
        </div>
        <xf:submitrow submit="{{ phrase('remove') }}" icon="delete"/>
    </div>
</xf:form>